<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/handlebars")
	@Html.Partial("_html5shiv")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<div class="navbar-wrapper">
		<div class="container">
			<!-- Navigation -->
			<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="http://www.kongresrodzinychicago.org" class="navbar-brand"><span class="flag-icon flag-icon-pl"></span> PL</a>
					<a href="@Url.Action("Index", "Home")" class="navbar-brand"><i class="fa fa-fw fa-home"></i> Home</a>
					<!--@Html.ActionLink("Home", "Index", "Home", null, new { @class = "navbar-brand" })-->
				</div>
				<!-- Top menu items -->
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<!-- Mission -->
						<li class="@HelperView.ActiveItem("Mission", "Home", null)">
							<a href="@Url.Action("Mission","Home")"><i class="fa fa-fw fa-question-circle"></i> Mission</a>
						</li>
						<!-- Program dropdown -->
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-arrows-v"></i> Program <i class="fa fa-fw fa-caret-down"></i></a>
							<ul class="dropdown-menu">
								<li class="@HelperView.ActiveItem("Program", "Home", null)">
									<a href="@Url.Action("Program","Home")"><i class="fa fa-fw fa-newspaper-o"></i> Main Program</a>
								</li>
								<li class="@HelperView.ActiveItem("Participants", "Home", null)">
									<a href="@Url.Action("Participants", "Home")"><i class="fa fa-fw fa-users"></i> Speakers/Participants</a>
								</li>
								<li class="@HelperView.ActiveItem("Places", "Home", null)">
									<a href="@Url.Action("Places", "Home")"><i class="fa fa-fw fa-info-circle"></i> Places</a>
								</li>
								<li class="@HelperView.ActiveItem("Prayer", "Home", null)">
									<a href="@Url.Action("Prayer", "Home")"><i class="fa fa-fw fa-info-circle"></i> Prayer</a>
								</li>
								<li class="@HelperView.ActiveItem("Retreat", "Home", null)">
									<a href="@Url.Action("Retreat", "Home")"><i class="fa fa-fw fa-info-circle"></i> Retreat</a>
								</li>
								<li class="@HelperView.ActiveItem("Symposium", "Home", null)">
									<a href="@Url.Action("Symposium", "Home")"><i class="fa fa-fw fa-info-circle"></i> Symposium</a>
								</li>
								<li class="@HelperView.ActiveItem("Conferences", "Home", null)">
									<a href="@Url.Action("Conferences", "Home")"><i class="fa fa-fw fa-info-circle"></i> Conferences</a>
								</li>
								<li class="@HelperView.ActiveItem("Culture", "Home", null)">
									<a href="@Url.Action("Culture", "Home")"><i class="fa fa-fw fa-info-circle"></i> Culture</a>
								</li>
							</ul>
						</li>
						<!-- Download -->
						<li class="@HelperView.ActiveItem("Downloads", "Home", null)">
							<a href="@Url.Action("Downloads", "Home")"><i class="fa fa-fw fa-download"></i> Downloads</a>
						</li>                        
						<!-- Articles -->
						<li class="@HelperView.ActiveItem("Articles", "Home", null)">
							<a href="@Url.Action("Articles", "Home")"><i class="fa fa-fw fa-newspaper-o"></i> Articles</a>
						</li>
						<!-- Contact -->
						<li class="@HelperView.ActiveItem("Contact", "Home", null)">
							<a href="@Url.Action("Contact","Home")"><i class="fa fa-fw fa-info"></i> Contact Us</a>
						</li>
						<!-- Sponsors -->
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-arrows-v"></i> Sponsors <i class="fa fa-fw fa-caret-down"></i></a>
							<ul class="dropdown-menu">
								<li class="@HelperView.ActiveItem("Sponsors", "Home", null)">
									<a href="@Url.Action("Sponsors", "Home")"><i class="fa fa-fw fa-money"></i> Sponsors</a>
								</li>
								<li class="@HelperView.ActiveItem("MediaPatrons", "Home", null)">
									<a href="@Url.Action("MediaPatrons", "Home")"><i class="fa fa-fw fa-ticket"></i> Media Patrons</a>
								</li>
								<li class="@HelperView.ActiveItem("Cooperators", "Home", null)">
									<a href="@Url.Action("Cooperators", "Home")"><i class="fa fa-fw fa-cogs"></i> Cooperators</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>

	@Html.Partial("_carousel")

	<div id="page-wrapper">
		<div class="container-fluid">
			@RenderBody()
			<hr />
			<footer>
				<p>&copy; @DateTime.Now.Year - Family Congress</p>
			</footer>
		</div>
	</div>
	
	@RenderSection("scripts", required: false)

	<script type="text/javascript">

		function getContextData() {
			//console.log(url);
			var data;
			$.ajax({
				url: url,
				async: false,
				success: function (jsonData) {
					data = jsonData;
				}
			});
			return data;
		};

		$(document).ready(function () {
			$('#myCarousel').carousel({
				interval: 6000
			});

			var clickEvent = false;
			$('#myCarousel').on('click', '.nav a', function () {
				clickEvent = true;
				$('.nav li').removeClass('active');
				$(this).parent().addClass('active');
			}).on('slid.bs.carousel', function (e) {
				if (!clickEvent) {
					var count = $('.nav.nav-pills.nav-justified').children().length - 1;
					var current = $('.nav li.active');
					current.removeClass('active').next().addClass('active');
					var id = parseInt(current.data('slide-to'));
					if (count == id) {
						$('.nav li').first().addClass('active');
					}
				}
				clickEvent = false;
			});
		});
	</script>
</body>
</html>
